<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM SUBMISSION</title>
</head>
<body>
    {{if .}}
    {{range $key, $value := .}}
    <p><strong>{{$key}}</strong></p>
    <ul>
        {{range $value}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    {{end}}
    {{end}}
    <form action="/?fname=jim" method="POST">
        <input type="text" name="fname" placeholder="Enter first name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>