<!DOCTYPE html>
<html>
    <head>
        <title>Redirect method</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" action="/bar">
            <input type="text" name="barred" placeholder="Enter data here..">
            <input type="submit" value="submit">
        </form>
    </body>
</html>